.wrap-info1 {
  height: 100vh;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-image: url(../../public/images/subject-11.png);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 10;
}

.info-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info1-img-container {
  display: inline-grid;
  grid-template-columns: repeat(6, auto-fit);
  grid-template-rows: repeat(auto-fit, auto-fit, auto-fit);
  gap: 3px;
  align-items: end;
}

.img-info1 {
  width: 200px;
  height: 18vmax;
  max-height: 200px;
}

.img-info1:nth-child(1) {
  width: 180px;
  height: 180px;
  justify-self: end;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.img-info1:nth-child(2) {
  width: 180px;
  height: 180px;
  grid-column: 3 / 6;
  grid-row: 1 / 2;
}

.img-info1:nth-child(3) {
  width: 366px;
  height: 180px;
  justify-self: end;
  grid-column: 2 / 6;
  grid-row: 2 / 3;
}

.img-info1:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.info1-title {
  font-family: "YeojuCeramic";
  font-size: 4vmax;
  font-weight: 400;
  color: #fa88aa;
  margin-bottom: 16px;
}

.content {
  font-size: 2vmax;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #333333;
}

.info1-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 26px 0 0 0;
}

.button-stage {
  width: 9vmax;
  height: 9vmax;
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}

.button-event {
  width: 9vmax;
  height: 9vmax;
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}

.button-text {
  font-family: "YeojuCeramic";
  font-size: 1.4vmax;
  font-weight: 300;
  letter-spacing: -0.01em;
  color: #333333;
  z-index: 1000;
  margin-left: 4.5vmax;
  transform: translateX(-50%);
}

.button-back {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 9vmax;
  height: 9vmax;
  z-index: 100;
  will-change: transform;
}

.stage {
  background-image: url(../../public/subject-9.png);
}

.event {
  background-image: url(../../public/subject-9.png);
}

.button-stage:hover .button-back,
.button-event:hover .button-back {
  animation: rotate_button 0.3s ease-in-out forwards;
}

.button-back:hover ~ .button-text,
.button-text:hover {
  color: white;
  text-shadow: 1px 1px rgba(3, 3, 3, 0.5), 1px 1px rgba(3, 3, 3, 0.5),
    1px 1px rgba(3, 3, 3, 0.5);
}

@keyframes rotate_button {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}
