.wrap-back {
  position: relative;
  height: 100vh;
  min-height: 480px;
  margin: auto;
  background-image: url(../../public/images/subject-1.png);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  animation: backgroundUp 1s linear;
  z-index: 10;
}

@keyframes backgroundUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 3%, 0);
  }
  3% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.wrap-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 90vh;
  max-width: 1200px;
  margin: auto;
  z-index: 10;
  overflow: hidden;
}

.title-img {
  width: 70%;
  max-width: 600px;
}

.button-container {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  font-size: 1.7vmax;
  font-weight: 600;
}

.button-purchase {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #157d76;
  color: white;
  background-color: #157d76;
  border-radius: 50px;
  padding: 1.2vmax 3.2vmax;
  cursor: pointer;
}

.button-purchase:hover {
  background-color: white;
  border: 1.5px solid white;
  color: #fa88aa;
}

.button-share {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid white;
  color: #157d76;
  background-color: white;
  border-radius: 50px;
  padding: 1.2vmax 3.2vmax;
  cursor: pointer;
}

.button-share:hover {
  background-color: #fa88aa;
  border: 1.5px solid #fa88aa;
  color: white;
}

.arrow-down {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: upAndDown 0.8s ease-in-out alternate infinite;
}

@keyframes upAndDown {
  0% {
    opacity: 1;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(10%);
  }
}
