.wrap-map {
  height: 100vh;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-image: url(../../public/images/subject-12.png);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 10;
}

.map-title {
  font-family: "YeojuCeramic";
  font-size: 4vmax;
  font-weight: 400;
  color: #157d76;
  margin-bottom: 10px;
}

.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.map-button {
  font-size: 1.6vmax;
  font-weight: 600;
  margin: 28px;
  border: 1.5px solid white;
  color: #157d76;
  background-color: white;
  border-radius: 50px;
  padding: 1vmax 3vmax;
  cursor: pointer;
}

.map-button:hover {
  background-color: #157d76;
  border: 1.5px solid #157d76;
  color: white;
}
