.wrap-timeline {
  position: relative;
  height: 100vh;
  min-height: 480px;
  margin: auto;
  background-image: url(../../public/images/subject-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}

.timeline-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 70%;
  max-width: 800px;
  margin: auto;
}

.timeline-title {
  font-family: "YeojuCeramic";
  font-size: 4vmax;
  font-weight: 400;
  color: #157d76;
  margin: 10px 10px 20px;
}

.img-wrap {
  position: relative;
}

.timeline-text {
  position: absolute;
  top: 16%;
  left: 7%;
  width: 86%;
}

.timeline-img {
  padding: 10px 10px 0 10px;
  background-color: white;
}
