.snow-container {
  display: flex;
  justify-content: space-between;
  height: 0;
  width: 100%;
  max-width: 980px;
  margin: auto;
}
.snow-flake {
  background-image: url(../public/images/subject-3.png);
  animation: fall 18s linear infinite;
}
@keyframes fall {
  0% {
    opacity: 1;
  }
  3% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 780vh);
    opacity: 1;
  }
}

/* .outer {
  height: 100vh;
  overflow-y: auto;
  background-color: #c4e7fa;
} */

/* 화면에서 스크롤바 안보이게 */
/* .outer::-webkit-scrollbar {
  display: none;
} */

* {
  font-family: "Wanted Sans Variable";
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

main {
  width: 100%;
  height: 800vh;
  overflow: hidden;
  background-color: #c4e7fa;
}

.inner {
  height: 100vh;
  max-width: 1200px;
  margin: auto;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 480px;
}
